body{  
	font: 15px/1.5 Arial, Helvetive, sans-serif; 
	padding: 0; 
	margin:0; 
	background-color: #f4f4f4; 
}

.container{
	width:100%; 
	margin:auto; 
	overflow:hidden; 
	color: #000000; 
}

/*header*/
header{
	background:#35424a;  
	color: #ffffff;
	padding-top:30px; 
	min-height:70px; 
	border-bottom:#e8491d 3px solid; 
}

header a{ 

	color:#ffffff;
	text-transform: uppercase; 
	text-decoration: none; 
	font-size: 16px; 
	
}

/*Global un-ordered lists*/
ul{
	margin:0; 
	padding:0; 
} 

header li{
	float:left; 
	display:inline; 
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0; 
}

header nav{
	float:right; 
	margin-top:10px; 
}

header .highlight, header .current a{
	color:#e8491d; 
	font-weight:bold; 
} 

header a:hover{
	color:#cccccc; 
	font-weight:bold; 
} 

footer {
	margin-top: 20px; 
	padding-bottom:20px; 
	background-color:#e8491d; 
	text-align:center; 
	color:#ffffff; 
} 

#showcase{ 
	min-height:400px; 
	background-image: url("apartment.png") no repeat ;      
	color:#ffffff; 
	text-align:center; 
}

#showcase h1{
	margin-top:100px; 
	font-size:55px; 
	margin-bottom:10px; 
}

#showcase p{
	font-size:20px;
}

#Search {
	min-height:400px;       
	color:#ffffff; 
	text-align:center; 
}
